<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="favicon.png" type="image/x-icon">
  <!-- font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,400display=swap" rel="stylesheet">
  <!-- font ends here -->
  <link rel="stylesheet" href="../static/css/about_page.css">
  <title>About US</title>
</head>
<body>
  <nav>
    <div class="logo">
      <a href="/"><img src="../static/images/logo.png"></a>
    </div>
    <ul class="nav-links">
      <li><a href="/">Home</a></li>
      <li><a href="about" style="background-color: #fc5656; color: #fff;">About</a></li>
      <li><a href="students">Student</a></li>
      <li><a href="faculty">Faculty</a></li>
      <li><a href="input">Input</a></li>
    </ul>
    <div class="burger">
      <div class="line1"></div>
      <div class="line2"></div>
      <div class="line3"></div>
    </div>
  </nav>
  <section class="banner" style="margin-top:4%">
    <div class="container">
      <h1 class="font" style="font-size:10em">About US</h1>
      <p></p>
    </div>     <!-- .container -->
  </section>  <!-- .banner -->
  <section class="first" >
    <div class="container">
      
      <p>Welcome to our website! We are a team of three students from the International Institute of Information Technology Hyderabad (IIITH), and we recently completed a project related to the <strong>IIITH Contact Directory</strong>.
        <br><br>
        Our website includes directories for both students and faculty members at IIITH, which you can search based on name, roll number, or any other relevant information. We designed this directory to be easy to use and provide quick access to contact information for members of the IIITH community.
        <br><br>
        Our team created this website as part of a 24-hour hackathon event. Despite the tight deadline, we were able to build a functional and useful directory that we hope will benefit members of the IIITH community for years to come.
        <br><br>
        Thank you for visiting our site, and please feel free to contact us if you have any questions or feedback!</p>
      
    </div>
  </section>
 

  <section class="second">
    <div class="container">
      <div class="image">
       <a href="https://www.youtube.com/watch?v=xvFZjo5PgG0"> <img src="../static/images/MS.jpg" alt="Person"></a>
      </div>
      <div class="content">
        <h2 class="font" style="font-size:7em">Mohak Somani</h2>
        <p><strong>Roll No :</strong> 2022101088<br><strong>Email : </strong>mohak.somani@students.iiit.ac.in<br><strong>Contact No :</strong> 9649349330</p>
            <div class="social">
                <a title="LinkedIn" href="https://www.linkedin.com/in/mohak-somani-723105263/"><img src="../static/images/linkedin.png" alt="linkedin"></a>
                <a title="Facebook" href="https://www.facebook.com/mohak.somani"><img src="../static/images/fb.png" alt="facebook"></a>
                <a title="Instagram" href="https://www.instagram.com/somani_mohak3404/"><img src="../static/images/insta.png" alt="instagram"></a>
              </div>
      </div>
    </div>
</div>
  </section>

  <section class="third">
    <div class="container">
      
      <div class="content" style=" align-items: right;">
        <h2 class="font" style="font-size:7em">Anish Joishy</h2>
        <p><strong>Roll No :</strong> 2022111014<br><strong>Email : </strong>anish.joishy@research.iiit.ac.in<br><strong>Contact No :</strong> 8618250245</p>
            <div class="social">
                <a title="LinkedIn" href="#"><img src="../static/images/linkedin.png" alt="linkedin"></a>
                <a title="Facebook" href="https://www.facebook.com/suki.n.50746/"><img src="../static/images/fb.png" alt="facebook"></a>
                <a title="Instagram" href="https://www.instagram.com/sukin272/"><img src="../static/images/insta.png" alt="instagram"></a>
              </div>
      </div>
      <div class="image">
        <a href="https://www.youtube.com/watch?v=xvFZjo5PgG0"> <img src="../static/images/AJ.jpg" alt="Person"></a>
      </div>
    </div>
</div>
  </section>

  <section class="fourth">
    <div class="container">
      <div class="image">
        <a href="https://www.youtube.com/watch?v=xvFZjo5PgG0"><img src="../static/images/AB.jpeg" alt="Person"></a>
      </div>
      <div class="content">
        <h2 class="font" style="font-size:7em">Aryaman Bahl</h2>
        <p><strong>Roll No :</strong> 2022113013<br><strong>Email : </strong>aryaman.bahl@research.iiit.ac.in<br><strong>Contact No :</strong> 7973967419</p>
            <div class="social">
                <a title="LinkedIn" href="https://www.linkedin.com/in/aryaman-bahl-840888243"><img src="../static/images/linkedin.png" alt="linkedin"></a>
                <a title="Facebook" href="https://www.facebook.com/profile.php?id=100086792342476&mibextid=LQQJ4d"><img src="../static/images/fb.png" alt="facebook"></a>
                <a title="Instagram" href="https://instagram.com/aryamanbahl21?igshid=NTc4MTIwNjQ2YQ=="><img src="../static/images/insta.png" alt="instagram"></a>
              </div>
      </div>
    </div>
</div>
  </section>


  
  
</body>
</html>